@font-face {
    font-family:"regular" ;
    src: url("../fuentes/MYRIADPRO-REGULAR.OTF");
}

body{
    background-color: #ffff;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}

header{
    position: relative;
    border: 1px solid black;
    height: 60px;
}

.mas img{
    position: relative;
    top: 10px;
    left: 10px;
    width: 31px;
    height: 31px;
}

.menos img{
    position: relative;
    top: -25px;
    left: 1300px;
    width: 34px;
    height: 38px;
    background-image: url('imagenes/escarabajo.png');
    background-size: cover;
}

.menos :hover{
    animation: animacion-hover 0.5s steps(5) infinite;
    

}
.campanita img{
    position: relative;
    top: -55px;
    left: 1780px;
    width: 21px;
    height: 20px;
}

.pedro img{
    position: relative;
    top: -95px;
    left: 1830px;
    width: 53px;
    height: 53px;

}

.logo img{
    position: relative;
    top: -150px;
    left: 950px;
    width: 42px;
    height: 37px;
}

.ajustes img{
    position: relative;
    left: 1730px;
    top: -177px;
    width: 19px;

}

.interrogacion img{
    position: relative;
    top: -210px;
    width: 34px;
    height: 34px;
    left: 1550px;
}

.basura img{
    position: relative;
    top: -250px;
    width: 25px;
    height: 32px;
    left: 700px;
}


.refrescar img{
    position: relative;
    top: -285px;
    width: 27px;
    height: 27px;
    left: 360px;
}

.titulo{
    font-family: "regular";
    position: relative;
    left:850px;
    width: 346px;
    height: 40px;
}

.texto{
    font-family: "regular";
    position: relative;
    left: 680px;
}

.titulos{
    display: grid;
    grid-template-columns: repeat(9,auto);
    gap: 50px;
    width: 1700px;
    height:81px ;
}

.ind1{
    font-family:"regular";
    font-size: 20px;
}

.block1{
    display: grid;
    grid-template-columns: repeat(9, auto); /* Crea 9 columnas automáticas */
    gap: 50px; /* Espacio entre elementos */
}

.block1 {
    border: 1px solid rgb(133, 133, 133);
    width: 1700px;
    height:81px ;
    border-radius: 100px;
    font-family: "regular";
    position: relative;
    top: -15px;
}

.cell {
    padding: 5px;
    text-align: center;
}

.red {
    color: red;
}

.green{
    color: green;
}

.class {
    font-weight: bold;
}



.block2{
    border: 1xp solid #000000;
    display: grid;
    grid-template-columns: repeat(9, auto); /* Crea 9 columnas automáticas */
    gap: 50px; /* Espacio entre elementos */
}

.block2{
    border: 1px solid rgb(133, 133, 133);
    width: 1700px;
    height:81px ;
    border-radius: 100px;
    font-family: "regular";
    position: relative;
    top: 10px;
}

.block3{
    border: 1xp solid #000000;
    display: grid;
    grid-template-columns: repeat(9, auto); /* Crea 9 columnas automáticas */
    gap: 50px; /* Espacio entre elementos */
}

.block3{
    border: 1px solid rgb(133, 133, 133);
    width: 1700px;
    height:81px ;
    border-radius: 100px;
    font-family: "regular";
    position: relative;
    top: 30px;
}

.block4{
    border: 1xp solid #000000;
    display: grid;
    grid-template-columns: repeat(9, auto); /* Crea 9 columnas automáticas */
    gap: 50px; /* Espacio entre elementos */
}

.block4{
    border: 1px solid rgb(133, 133, 133);
    width: 1700px;
    height:81px ;
    border-radius: 100px;
    font-family: "regular";
    position: relative;
    top: 50px;
}

.block5{
    border: 1xp solid #000000;
    display: grid;
    grid-template-columns: repeat(9, auto); /* Crea 9 columnas automáticas */
    gap: 50px; /* Espacio entre elementos */
}

.block5{
    border: 1px solid rgb(133, 133, 133);
    width: 1700px;
    height:81px ;
    border-radius: 100px;
    font-family: "regular";
    position: relative;
    top: 70px;
}

.block6{
    border: 1xp solid #000000;
    display: grid;
    grid-template-columns: repeat(9, auto); /* Crea 9 columnas automáticas */
    gap: 50px; /* Espacio entre elementos */
}

.block6{
    border: 1px solid rgb(133, 133, 133);
    width: 1700px;
    height:81px ;
    border-radius: 100px;
    font-family: "regular";
    position: relative;
    top: 90px;
}


.progress-bar {
display: flex;
justify-content: center;
    align-items: center;
    position: relative;
    top: 15px;
  
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(230, 38, 38) 95%, pink 0);    
  }
  
.progress-bar::before {
content: "31%";
}

  .progress-bar2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15px;
  
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(230, 38, 38) 95%, pink 0);    
  }
  
  .progress-bar2::before {
    content: "25%";
  }
  
  .progress-bar3 {
    display: flex;
    justify-content: center;
        align-items: center;
        position: relative;
        top: 15px;
      
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: 
          radial-gradient(closest-side, white 79%, transparent 80% 100%),
          conic-gradient(rgb(64, 200, 18) 95%, rgb(227, 247, 226) 0);    
      }
      
    .progress-bar3::before{
        content: "80%";
    }

    .progress-bar4 {
        display: flex;
        justify-content: center;
            align-items: center;
            position: relative;
            top: 15px;
          
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: 
              radial-gradient(closest-side, white 79%, transparent 80% 100%),
              conic-gradient(rgb(230, 38, 38) 95%, pink 0);     
          }
          
        .progress-bar4::before{
            content: "32%";
        }

        .progress-bar5 {
            display: flex;
            justify-content: center;
                align-items: center;
                position: relative;
                top: 15px;
              
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: 
                  radial-gradient(closest-side, white 79%, transparent 80% 100%),
                  conic-gradient(rgb(64, 200, 18) 95%, rgb(227, 247, 226) 0);    
              }
              
            .progress-bar5::before{
                content: "95%";
            }

            .progress-bar6 {
                display: flex;
                justify-content: center;
                    align-items: center;
                    position: relative;
                    top: 15px;
                  
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: 
                      radial-gradient(closest-side, white 79%, transparent 80% 100%),
                      conic-gradient(rgb(252, 166, 7) 95%, rgb(255, 251, 192) 0);     
                  }
                  
                .progress-bar6::before{
                    content: "75%";
                }

.rayitas img{
    width: 36px;
    height: 31px;
    position: relative;
    left: 1730px;
    top: -520px;
    margin: 35px;
}

.link1{
    font-family: "regular";
    position: relative;
    top: -1405px;
    left: 60px;
    size: 24px;
}

.link2{
    font-family: "regular";
    position: relative;
    top: -1463px;
    left: 400px;
    size: 24px;
}

.link3{
    font-family: "regular";
    position: relative;
    top: -1520px;
    left: 730px;
    size: 24px;
}

.link4{
    font-family: "regular";
    position: relative;
    top: -1580px;
    left: 1340px;
    size: 24px;
}

.link5{
    font-family: "regular";
    position: relative;
    top: -1640px;
    left: 1600px;
    size: 24px;
}

.link1::after,
.link2::after,
.link3::after 
.link4::after
.link5::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: rgb(245, 142, 9);
    transition: width 0.3s ease-in-out;
}

.link1:hover::after,
.link2:hover::after,
.link3:hover::after
.link4:hover::after 
.link5:hover::after{
    width: 100%;
}
.lol img {
    opacity: 0%;
}

a {
    color: black;
    text-decoration: none;
}
@media (max-width: 430px) and (max-height: 932px){

    body {
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        overflow-x: hidden; /* Previene el desbordamiento lateral */
    }

    header {
        position: relative;
        border: 1px solid black;
        height: 12vh; /* Reducido para evitar solapamiento */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5vw;
    }

    .mas img, .menos img, .campanita img, .pedro img, .logo img, .ajustes img,
    .interrogacion img, .basura img, .refrescar img {
        width: 8vw;
        height: 8vw;
        position: static; /* Evita el posicionamiento relativo innecesario */
    }

    .titulo {
        font-family: "regular";
        font-size: 1.8rem; /* Ajustado para evitar desbordamiento */
        text-align: center;
        position: relative;
        left: -3px;
        width: 100%;
    }

    .texto {
        font-family: "regular";
        position: relative;
        left: 2px;
        top: -15px;
        font-size: 1rem;
        text-align: center;
        margin: 10px;
    }




    .block1, .block2, .block3, .block4, .block5, .block6 {
        border: 1px solid rgb(133, 133, 133);
        width: 90vw; /* Para que se ajuste bien en móviles */
        height: auto; /* Ajustable según el contenido */
        border-radius: 30px; /* Menos redondeado para más espacio */
        margin-top: 15px;
        font-family: "regular";
        position: relative;
        top: -90px;
        display: flex;
        flex-direction: column; /* Ahora los elementos estarán en lista */
        align-items: flex-start; /* Alineación a la izquierda */
        padding: 15px;
        gap: 5px; /* Espacio entre elementos */
        overflow: hidden;
    }

    .cell {
        width: 100%;
        text-align: center; /* Alinea el texto a la izquierda */
        font-size: 3.5vw; /* Texto más grande y dinámico */
        overflow-wrap: break-word; /* Evita que el texto se salga */
        word-break: break-word;
    }

    .progress-bar, .progress-bar2, .progress-bar3, .progress-bar4, .progress-bar5, .progress-bar6 {
        align-self: flex-end; /* Alinea el indicador de porcentaje a la derecha */
        width: 10vw;
        height: 10vw;
        position: relative;
        top: -5px;
        left: -165px;
        font-size: 0.9rem;
    }

    .ind1{
        opacity: 0%;
    }
    a {
        color: black;
        text-decoration: none;
    }

    .class{
        text-align: center;
        position: relative;
        left: 180px;
    }



.link1, .link2, .link3, .link4, .link5 {
    font-size: 1rem;
    text-align: center;
    display: block;
    margin: 10px 0;
    opacity: 0%;
}
     .rayitas img{
        width: 10vw;
        height: 10vw;
        position: relative;
        left: 80px;
        top: -3850px;
        margin: 268px;
      }
}