
@font-face {
    font-family: "light";
    src: url("../fuentes/MyriadPro-Light.otf");
}

@font-face {
    font-family:"regular" ;
    src: url("../fuentes/MYRIADPRO-REGULAR.OTF");
}

body{
    background-color: black;
}
.fondo{
    position: relative;
    top: -117px;
    left: -28px;
    width: 1277px;
    height: 1446px;
    margin: 0px;
}

.icono{
    position: relative;
    top: 452px;
    left: 862px;
    width: 197px;
    height: 176px;
    
}
