body{
 background-color: black;
}
@font-face {
    font-family: "light";
    src: url("../fuentes/MyriadPro-Light.otf");
}

@font-face {
    font-family:"regular" ;
    src: url("../fuentes/MYRIADPRO-REGULAR.OTF");
}

.fondo {
    position: relative; 
    width: 0%;
    height: 0;
    padding-top: 0%; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0%;
    transform: scale(1.0); 
}
.rectangulo  {
    position: relative;
    top: -1065px;
    left: 700px;
    width: 45vw;  
    height: 50vh; 
    background-color: white; 
    border-radius: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logomd {
    position: relative;
    top: -180px ;
    width: 10%; /* La imagen ocupa el 50% del tamaño del rectángulo */
    
    
    
}
@media screen and (max-width: 430px) {
    .fondo {
        padding-top: 0%; /* Ajusta para formato vertical */
        height: -500vh;
        transform: scale(2.1); 
    }
}